/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.relative {
  position: relative;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.w-full {
  width: 100%;
}

.w-5\/6 {
  width: 83.333333%;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 1rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.text-center {
  text-align: center;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.heroBannerWrapper {
  position: relative;
}

.heroBanner {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/img/library1b.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #151718;
  color: #ecedee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  opacity: 80%;
}

.heroBanner h1 {
  margin: 0;
}

.heroBannerText {
  position: absolute;
  padding: 10px 20px;
  font-weight: 400;
  color: rgb(236, 237, 238);
  bottom: 0;
  left: 0;
}

.heroBannerText h2 {
  font-weight: 500;
  margin: 0;
}

.heroBannerText p {
  font-weight: 400;
  margin: 0;
}

.heroBannerButton {
  position: absolute;
  padding: 10px 20px;
  font-weight: 500;
  color: rgb(236, 237, 238);
  background-color: rgba(38, 41, 43, 0.5);
  border: 1px solid #697177;
  border-radius: 8px;
  margin-right: 20px;
  bottom: 0;
  right: 0;
  transition: all 0.25s;
}

.heroBannerButton:hover {
  opacity: 75%;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-slate8 {
  color: hsla(207, 5.6%, 31.6%, 0.7);
}

@media (min-width: 768px) {
  .md\:w-4\/6 {
    width: 66.666667%;
  }

  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:gap-0 {
    gap: 0px;
  }

  .md\:text-left {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .lg\:w-3\/6 {
    width: 50%;
  }
}
