/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 450px;
  background: url("/img/library1b.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin-top: 80px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #151718;
  color: #ecedee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  opacity: 80%;
}

.heroBanner h1 {
  margin: 0;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
