.features {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.section {
  margin-bottom: 3rem;
}

.title {
  color: #ecedee;
  margin-bottom: 32px;
  font-size: 30px;
}

.homelink:hover {
  text-decoration: none;
}

.stuff {
  border: 1px solid #3a3f42;
  border-radius: 8px;
  /* background-color: #151718; */
  /* background-color: #202425; */
  background-color: #26292b;
  padding: 16px;
  color: #ecedee;
}

.stuff:hover {
  /* background-color: #202425; */
  border-color: #697177;
}

.stuff a {
  color: #ecedee;
}

.stuff a:hover {
  color: #ecedee;
  text-decoration: none;
}

.stuff h3 {
  font-size: 28px;
  font-weight: 800;
}

.stuff h4 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.stuff p {
  margin: 0;
  color: #ACACAB;
}

.repo {
  display: flex;
  grid-gap: 1rem;
  align-items: center;
}

.github {
  fill: #ACACAB;
  height: 24px;
}
